{% extends "layout.html.twig" %}

{% block content %}
<h1>Trouvez la machine à boissons chaudes idéale :</h1>

<form method="post" action="">
    
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Country
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <label class="checkbox-inline">
		<input type="radio" name="coutry" id="inlineradio1" value="option1"> France		  
		</label>
		<label class="checkbox-inline">
		  <input type="radio" name="coutry" id="inlineradio2" value="option2"> Germany
		</label>
		<label class="checkbox-inline">
		  <input type="radio" name="coutry" id="inlineradio3" value="option3"> USA
		</label>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Vehicle Function
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox25" name="type[]" value="option31"> Tank Destroyer</br>
		</label>
       <label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox26" value="option32"> Recon</br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox27" value="option33"> Assault Tank<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox28" value="option34"> Infantry Support<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox29" value="option35"> Assault Gun<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox30" value="option36"> Self Propeled Gun<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox31" value="option37"> Anti Tank<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox31" value="option38"> Fast Support<br>
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox31" value="option39"> Super Heavy Tank<br>
		</label>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Activity Service
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <label class="checkbox-inline">
        <input type="radio" name="coutry" id="inlineradio1" value="option40"> Before 1939</br>		  
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="coutry" id="inlineradio2" value="option41"> 1939-1945</br>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="coutry" id="inlineradio3" value="option42"> After 1945</br>
        </label>
      </div>
    </div>
  </div>
      <input type="hidden" name="topic" value="machine___boissons_chaudes.xtm"/>
    
    <input type="submit" value="Rechercher"/>
</div><!-- fin nav -->

<div id="content">

	<div id="fiche">
		<div id="image"><img src="images/pz3.png" /></div>
        <div id="nom"><h3><p>Pzkpfw III Ausf J - Technical File</p><h3></div>
       	<div class="rowfile"> <div class="caract">Manufacturers</div> <div class="data">Henschel - Man - MNH - Daimler Benz</div> </div>
		<div class="rowfile">	<div class="caract">Role</div> <div class="data">Anti tank - Infantry Support</div> </div>
        <div class="rowfile">	<div class="caract">Weight(tons)</div> <div class="data">21</div> </div>
        <div class="rowfile">	<div class="caract">Max speed(km/h)</div> <div class="data">40</div></div>
        
	</div><!-- fin fiche-->

	
</div><!-- fin content -->


<div id="list"><!-- future liste dynamique recherche sur ref -->
	<div id="vehicles">
	<ul>
    <li><a href="Panzerkampfwagen III"/>Panzerkampfwagen III</li>
    <li><a href="Panzerkampfwagen IV"/>Panzerkampfwagen IV</li>
    <li><a href="Sdkfz 232"/>Sdkfz 232</li>
    <li><a href="Sturmgeschutz IV"/>Sturmgeschutz IV</li>
    </ul>

	</div>
</div>

</form>

{{dump(query)}}

{#url}}

{{dump(fileContent)}}

{{dump(arrayContent)#}

{% endblock %}