{% extends "layout.html.twig" %}

{% block content %}

<form action="" method="post">
    <select name="type">
        <option value="1">Cafetière classique</option>
        <option value="2">Machine à dosettes</option>
        <option value="3">Percolateur</option>
    </select>
    
    <input type="range" name="quantity" min="1" max="5">
</form>

{{url}}

{{dump(fileContent)}}

{{dump(arrayContent)}}

{% endblock %}