{% extends "layout.html.twig" %}

{% block content %}
<h1>Trouvez votre tablette :</h1>
 
<form action="" method="post">
  <div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
          Prix
        </a>
      </h4>
    </div>

	  
  
	
    <div id="collapsefive" class="panel-collapse collapse "> <div class="col-md-4"> <h4>Fourchette de prix</h4></div> 
      <div class="panel-body">
	  
        <label class="radio-inline">
  <input type="radio" id="radio1" value="option01" name="prix"> moins de 50€
</label>
<label class="radio-inline">
  <input type="radio" id="radio2" value="option02" name="prix"> 50 à 100€
</label>
<label class="radio-inline">
  <input type="radio" id="radio3" value="option03" name="prix"> 100 à 200€
</label>
<label class="radio-inline">
  <input type="radio" id="radio4" value="option04" name="prix"> 200 à 500€
</label>
<label class="radio-inline">
  <input type="radio" id="radio5" value="option04" name="prix"> 500 à 1000€
</label>
<label class="radio-inline">
  <input type="radio" id="radio6" value="option04" name="prix"> 1000€ et plus
</label>

      </div>
    </div>
  </div>
  
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Marque
        </a>
      </h4>
    </div>

	
    <div id="collapseOne" class="panel-collapse collapse "> <div class="col-md-4"> <h4>Marques</h4></div> 
      <div class="panel-body">
	  
        <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="acer" name="constructeur[]"> Acer
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="apple" name="constructeur[]"> Apple
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="archos" name="constructeur[]"> Archos
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox4" value="asus" name="constructeur[]"> Asus
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox5" value="dell" name="constructeur[]"> Dell
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox6" value="essentielb" name="constructeur[]"> Essentiel B
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox7" value="fujitsu" name="constructeur[]"> Fujitsu
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox8" value="google" name="constructeur[]"> Google
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox9" value="hp"name="constructeur[]"> HP
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox10" value="lg" name="constructeur[]"> LG
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox11" value="lenco" name="constructeur[]"> Lenco
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox12" value="listo" name="constructeur[]"> Listo
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox13" value="logicom" name="constructeur[]"> Logicom
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox14" value="memup" name="constructeur[]"> Memup
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox15" value="microsoft" name="constructeur[]"> Microsoft
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox16" value="nokia" name="constructeur[]"> Nokia
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox17" value="polaroid" name="constructeur[]"> Polaroid
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox18" value="samsung" name="constructeur[]"> Samsung
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox19" value="sony" name="constructeur[]"> Sony
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox20" value="storex" name="constructeur[]"> Storex
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox21" value="toshiba" name="constructeur[]"> Toshiba
</label>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Caracteristiques techniques
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
	 <div class="panel-body">
	 <div class="row">
		<div class="col-md-4">
			<h4>OS</h4>
		</div>
		<div class="panel-body">
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox22" value="macos" name="os[]"> IOS
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox23" value="windowsos" name="os[]"> Windows OS
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox24" value="androidos" name="os[]"> Android OS
			</label>
			
		</div>
		<div class="col-md-4"> <h4>Capacité de stockage</h4></div>
		<div class="panel-body">
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox25" value="4go" name="stockage[]"> 4Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox26" value="8go" name="stockage[]"> 8Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox27" value="16go" name="stockage[]"> 16Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox28" value="32go" name="stockage[]"> 32Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox29" value="64go" name="stockage[]"> 64Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox30" value="128go" name="stockage[]"> 128Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox31" value="512go" name="stockage[]"> 512Go
			</label>
		</div> 
		
		<div class="col-md-4"><h4>Mémoire vive</h4></div>
		<div class="panel-body">
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox32" value="05go" name="ram[]"> 0,5Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox33" value="1go" name="ram[]"> 1Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox34" value="15go" name="ram[]"> 1,5Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox35" value="2go" name="ram[]"> 2Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox36" value="4go" name="ram"> 4Go
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox37" value="8go" name="ram[]"> 8Go
			</label>
		</div>
	 </div>
     </div>
    </div>
  </div>
  

  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Taille de l'écran
        </a>
      </h4>
    </div>
	
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
	  
  
      <div class="col-md-4"> <h4>Taille en pouces</h4></div> 
      <div class="panel-body">
	  
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox50" value="7pouces" name="taille-ecran[]"> 7"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox51" value="79pouces" name="taille-ecran[]"> 7,9"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox52" value="8pouces" name="taille-ecran[]"> 8"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox53" value="83pouces" name="taille-ecran[]"> 8,3"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox54" value="9pouces" name="taille-ecran[]"> 9"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox55" value="97pouces" name="taille-ecran[]"> 9,7"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox56" value="101pouces" name="taille-ecran[]"> 10,1"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox57" value="106pouces" name="taille-ecran[]"> 10,6"
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="inlineCheckbox58" value="116pouces" name="taille-ecran[]"> 11,6"
			</label>
		</div>
		</div>       
     </div>
	</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Connectique et Réseau
        </a>
      </h4>
    </div>
      <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
  
      <div class="col-md-4"> <h4>Connectique</h4></div> 
      <div class="panel-body">
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox40" value="prisejack" name="connectique[]"> Prise Jack
		</label>
        <label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox41" value="cartememoiresd" name="connectique[]"> Carte mémoire SD
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="inlineCheckbox42" value="microsd" name="connectique[]"> Carte mémoire micro SD
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="inlineCheckbox43" value="usb" name="connectique[]"> USB
		</label>
      </div>   
	  
	  <div class="col-md-4"> <h4>Signal réseau</h4></div> 
      <div class="panel-body">
		<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox44" value="wifi" name="reseau[]"> Wifi
		</label>
        <label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox45" value="3g" name="reseau[]"> 3G
		</label>
		<label class="checkbox-inline">
		  <input type="checkbox" id="inlineCheckbox46" value="bluetooth" name="reseau[]"> Bluetooth
		</label>
      </div> 
	  
      </div>
      </div>
   </div>
  </div>
  
<fieldset>

<!-- Form Name -->
<legend>Choix de la tablette tactile</legend>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="SelectTab">Tablette tactile</label>
  <div class="controls">
    <select id="SelectTab" name="SelectTab" class="input-xlarge" multiple="multiple">
      <option>Acer Iconia A1-810</option>
      <option>Archos ChefPad 8Go</option>
      <option>Asus ME173X-1B114A FonePad</option>
      <option>Asus MemoPad blanche</option>
      <option>Dell Latitude 10'' Pro</option>
      <option>Dell Streak 7</option>
      <option>Fujitsu VFY</option>
      <option>Google Nexus 10</option>
      <option>Google Nexus 7</option>
    </select>
  </div>
</div>

</fieldset>
    
    <input type="submit" name="Rechercher"/>
</form>

{{dump(query)}}

{{dump(entities)}}








{#url#}



{% endblock %}