{% extends "layout.html.twig" %}

{% block content %}
<h1>Trouvez la machine à boissons chaudes idéale :</h1>

<form method="post" action="">
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Type de machine
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <select name="type" class="form-control">
          <option>Faites votre choix</option>
          <option>Cafetière classique</option>
          <option>Machine à dosettes</option>
          <option>Percolateur</option>
        </select>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Type de consommable
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" name="consommable[]" value="option1"> Capsules
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" name="consommable[]" value="option2"> Dosettes
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" name="consommable[]" value="option3"> Café en grain
        </label>
        <label class="checkbox-inline">
         <input type="checkbox" id="inlineCheckbox3" name="consommable[]" value="option4"> Café moulu
        </label>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Type de boissons réalisables
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">      
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1"  value="cafe"> Café
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> Chocolat
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> Boissons à base de lait
        </label>
        <label class="checkbox-inline">
         <input type="checkbox" id="inlineCheckbox3" value="option4"> Thé et tisane
        </label>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Prix
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
        <select class="form-control">
          <option>Faites votre choix</option>
          <option>moins de 50€</option>
          <option>entre 51 et 100€</option>
          <option>entre 101 et 200€</option>
          <option>entre 201 et 300€</option>
         <option>entre 301 et 400€</option>
         <option>entre 401 et 500€</option>
         <option>supérieur à 500€</option>
        </select>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Capacité du réservoir
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
      <div class="panel-body">
        <select class="form-control">
          <option>Faites votre choix</option>
          <option>6 tasses</option>
          <option>8 tasses</option>
          <option>10 tasses</option>
          <option>12 tasses</option>
          <option>18 tasses</option>
          <option>8 à 15 tasses</option>
        </select>
      </div>
    </div>
  </div>
</div>
    <input type="hidden" name="topic" value="machine___boissons_chaudes.xtm"/>
    
    <input type="submit" value="Rechercher"/>
</form>

<table class="table">
    <caption> Résultats </caption> 
    <tr> 
        <th> Référence </th> 
        <th> Marque </th> 
        <th> Prix </th> 
    </tr> 
    <tr> 
        <td> MacBook Air 13.3 256Go (http://psi.ontopedia.net/03)</td> 
        <td>Apple o:a01($MARQUE : o:r01a, o:03 : o:r01b)? </td> 
        <td> 1299€ o:o01(o:o03, $PRIX)? </td> 
    </tr> 
</table>

{{dump(query)}}

{#url}}

{{dump(fileContent)}}

{{dump(arrayContent)#}

{% endblock %}